@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");



  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.nav1{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 163, 203, 0.628);
    transition: all ease-in-out 1s;
}
.nav2{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(1, 120, 32, 0.687);
    transition: all ease-in-out 1s;
}
.nav3{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 138, 0);
    transition: all ease-in-out 1s;
}
.nav4{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 13, 0.753);
    transition: all ease-in-out 1s;
}
.nav5{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(242, 0, 255, 0.473);
    transition: all ease-in-out 1s;
}

.header__logo{
    width: fit-content;
    color: white;
    cursor: pointer;
    font-weight: bold;
    width: 30%;
}

.header__nav{
    width: 43%;
    display: flex;
    justify-content: space-around;

    div{
        color: white;
        font-weight: bold;
        cursor: pointer;
        font-family: 'EB Garamond', serif;
        font-size: 1.1rem;
    }

    .sign-in{
        border: 0.1px solid white;
        padding: 0.2rem 0.7rem 0.2rem 0.7rem;
        position: relative;
        top: -0.3rem;
        border-radius: 6px;
    }

    .sign-in:hover{
        background-color: rgb(0, 204, 82);
        border-color: rgb(0, 204, 82);
        box-shadow: 5px 5px 20px rgba(95, 95, 95, 0.5);
        transition: all ease-in-out 0.2s;
    }
}

.header__hero1{
    background-color: rgba(0, 163, 203, 0.628);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}

.header__hero2{
    background-color: rgba(1, 120, 32, 0.687);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}
.header__hero3{
    background-color: rgb(230, 138, 0); 
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}
.header__hero4{
    background-color: rgba(255, 0, 13, 0.753);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}
.header__hero5{
    background-color: rgba(242, 0, 255, 0.473);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}


.header__hero-img1{
    background-image: url("../../assets/images/lady-on-singlet-with-laptop.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img2{
    background-image: url("../../assets/images/thinking-woman-posing-with-laptop2.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img3{
    background-image: url("../../assets/images/laughing-black-man-holding-computer.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img4{
    background-image: url("../../assets/images/asian-girl-with-laptop.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img5{
    background-image: url("../../assets/images/black-man-with-laptop.png");
    background-size:cover;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    margin: 0;
    transition: all ease-in-out 1s;
}


.header__hero-content{
    width: fit-content;
    height: fit-content;
    color: white;
    font-weight: 900;
    letter-spacing: 0.5rem;
    font-size: 3.5rem;
    width: 40%;
    line-height: 4rem;
    padding-top: 5rem;
    font-family: var(--font-base);
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);

    .header__hero-content__quote{
        font-size: 1.2rem;
        line-height: 2rem;
        letter-spacing: 0.2rem;
        font-family: 'EB Garamond', serif;
        position: relative;
        // left: -1.5rem;
        top: 0.6rem;
    }

    .hero-btn{
        width: fit-content;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 7px;
        // box-shadow: 0 0 25 rgba(0, 0, 0, 0.5);
        border-width: thin;
        border-color: rgb(158, 158, 158);
        cursor: pointer;
        color: rgb(114, 114, 114);
        font-size: 0.9rem;
    }
    .hero-btn:hover{
        background-color: rgb(0, 204, 82);
        color: white;
        transition: all ease-in-out 0.2s;
        font-weight: bold;
        box-shadow: 5px 5px 20px rgba(95, 95, 95, 0.5);
    }
}