*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav1{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(242, 0, 255, 0.473);
    transition: all ease-in-out 1s;
}
.nav2{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: rgba(0, 225, 60, 0.687);
    background-color: rgba(1, 120, 32, 0.687);
    transition: all ease-in-out 1s;
}
.nav3{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // background-color: rgba(0, 204, 255, 0.628);
    background-color: rgba(0, 140, 175, 0.628);
    transition: all ease-in-out 1s;
}
.nav4{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 0, 13, 0.753);
    transition: all ease-in-out 1s;
}
.nav5{
    width: 100%;
    height: 4.4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(230, 138, 0); 
    transition: all ease-in-out 1s;
}

.header__logo{
    width: fit-content;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.header__nav{
    width: 40%;
    display: flex;
    justify-content: space-around;

    div{
        color: white;
    font-weight: bold;
        cursor: pointer;
    }
}

.header__hero1{
    background-color: rgba(242, 0, 255, 0.473);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}

.header__hero2{
    background-color: rgba(1, 120, 32, 0.687);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}

.header__hero3{
    // background-color: rgba(0, 204, 255, 0.628);
    background-color: rgba(0, 140, 175, 0.628);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}
.header__hero4{
    background-color: rgba(255, 0, 13, 0.753);
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}
.header__hero5{
    background-color: rgb(230, 138, 0); 
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content : space-around;
    padding: 0.5rem 0 0 0rem;
    transition: all ease-in-out 1s;
}


// .header__hero-img{
//     width: 50%;
//     height: 30rem;
//     margin-right: 3rem;
//     transition: all ease-in-out 2s;
// }


.header__hero-img1{
    background-image: url("../../assets/images/black-man-with-laptop.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img2{
    background-image: url("../../assets/images/thinking-woman-posing-with-laptop2.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img3{
    background-image: url("../../assets/images/lady-on-singlet-with-laptop.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img4{
    background-image: url("../../assets/images/asian-girl-with-laptop.png");
    background-size:cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    transition: all ease-in-out 1s;
}
.header__hero-img5{
    background-image: url("../../assets/images/laughing-black-man-holding-computer.png");
    background-size:cover;
    background-position-x: center;
    background-position-y: top;
    background-repeat: no-repeat;
    width: 50%;
    height: 34.5rem;
    padding: 0;
    margin: 0;
    transition: all ease-in-out 1s;
}


.header__hero-content{
    width: fit-content;
    height: fit-content;
    color: white;
    font-weight: bold;
    font-size: 3.9rem;
    width: 30%;
    line-height: 4.6rem;
    padding-top: 7rem;
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}